---
import DoodleRandomFrill from "@/components/doodles/doodle-random-frill.astro";
import FormattedDate from "@/components/helpers/formatted-date.astro";
import IconArrowRight from "@/components/icons/icon-arrow-right.astro";

const { post } = Astro.props;
---

<article class="flex flex-col gap-4">
	<div class="flex flex-col gap-2">
		<h3 class="text-3xl font-bold">
			<a href={`/${post.id}/`} class="text-colour-title subtle-link transition-colors group relative" tabindex="-1">
				<DoodleRandomFrill class="hidden text-colour-link size-auto absolute right-full top-0 -mt-4 lg:block" />

				{post.data.title}

				<IconArrowRight class="size-4 show-on-hover inline-block ms-1" />
			</a>
		</h3>

		<dl class="flex gap-4 text-sm">
			<div class="flex gap-2">
				<dt class="italic text-colour-muted">Published</dt>
				<dd class="font-semibold"><FormattedDate date={post.data.pubDate} /></dd>
			</div>
		</dl>
	</div>

	<p>{post.data.description}</p>

	<a href={`/${post.id}/`} class="rounded self-start">
			Read more

			<IconArrowRight class="size-3.5 inline-block ms-1" />
		</a>
</article>
