---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "@/components/helpers/FormattedDate.astro";
import Page from "@/layouts/Page.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Page title={title} description={description}>
	<article>
		<div class="hero-image">
			{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
		</div>

		<div class="prose">
			<h1>{title}</h1>

			<FormattedDate date={pubDate} />

			{
				updatedDate && (
					<div>
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}

			<slot />
		</div>
	</article>
</Page>
